@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap");

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mont Serrat", sans-serif;
}

/*Header section*/
.navbar {
    background-color: black;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    z-index: 999;
}

.logo a {
    margin-left: 2em;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

.logo a span {
color: green;
}

.menu {
width: 28%;
float: right;
}

.menu ul li {
display: inline-block;
margin-left: 2em;
font-size: 0.9em;
}

.menu ul li a {
text-decoration: none;
color: #fff;
}

.menu ul li a:hover {
color: green;
border-bottom: 3px solid green;
}

/*Collections*/
.back {
    margin: 100px 0 50px 4px;
    background-color: white;
    width: 90%;
    padding: 10px 0 1px 6px;
    border: 2px solid black;
    margin: 100px auto;
}

.layout {
    width: 1100px;
    margin: 10px auto;
}

.layout h1 {
    font-size: 50px;
    color: black;
    margin: 0;
    padding: 0;
}

.layout ul li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.05);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 2px 2px 0 2px;
    border: 2px solid black;
    border-radius: 4px;
}

.layout ul li:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
}

.layout img {
    object-fit: cover;
}

.layout p {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    color: black;
}

.layout ul li a {
    color: black;
    text-decoration: none;
}

.layout ul li a:hover {
    color: green;
}

/*Footer section*/
.fundo {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.rodape{
    width: 800px;
    margin: 0 auto;
}

.rodape h2{
    color: black;
}

.rodape p{
    color: black;
}

.sobre{
    width: 50%;;
    float: left;
    display: inline;
}

.contact{
    position: absolute;
    top: 10px;
    right: 0;
    width: 30%;
    float: right;
    display: inline;
}

.fonte ul li a{
    text-decoration: none;
    color: black;
}

.fonte ul li a:hover{
    color: rgb(48, 48, 48);
    border-bottom: 2px solid rgb(10, 10, 10);
}