@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap");

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mont Serrat", sans-serif;
}

a, ul, li{
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 0;
}

/* Header Section */
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  align-items: center;
  font-size: 20px;
  position: fixed;
  flex-wrap: wrap;
  
  top: 0;
  z-index: 999;
}

#ico{
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
  color: white;
  padding-left: 2em;
}

#ico span {
  color: green;
}

.menu {
  padding-right: 2em;
}

.menu ul{
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline;
  position: relative;
  font-size: 0.9em;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: background .3s;
}

.menu ul li a:hover{
  background-color: rgba(199, 199, 199, 0.3);
  color: #ccc;
}

/*menu down*/
.menu ul ul{
  display: none;
  position: absolute;
}

.menu ul li:hover ul{
  background-color: black;
  position: absolute;
  display: block;
  left:0;
}

.menu ul ul{
  width: 100px;
}

.menu ul ul li{
  display: inline;
}

.menu ul ul li a{
  display: block;
}
/*menu down*/

/*Collections*/
.title h1{
  margin-top: 100px;
  font-size: 40px;
}

.layout ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 944px;
  margin: 0 auto 120px ;
  grid-gap: 15px;
  border: 2px solid black;
  padding: 50px 40px;
}

.layout ul li{ 
  background-color: #e9e9e9de;
  border: 2px solid black;
  display: grid;
  justify-content: space-between;
  margin-bottom: 10px;
}

.layout ul li:hover{
  transform: scale(1.075);
  transition: 0.3s ease-in;
}

.layout ul li p{
 display: flex;
 justify-content: space-betwee;
}

@media(max-width:1025px){
  .layout ul{
    max-width: 623px;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-x: scroll;
  }
  .layout ul li{
    display: block;
  }
}

@media(max-width: 690px){
  .layout ul{
    max-width: 450px;
    max-height: 545px;
    display: grid;
    grid-template-columns:repeat(8, auto);
    grid-template-rows: repeat(3, 1fr);
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

/*Footer section*/
.fundo{
  display: flex;
  flex-wrap: wrap;
  padding: 40px 50px;
  background-color: #ccc;
  justify-content: space-evenly;
}
.rodape{
  margin-right: 5px;
}

.rodape ul li{
  padding: 5px;
}

.rodape ul li a:hover{
  color:green;
  border-bottom: 2px solid green;
}

.rodape a span{
  color: green;
}

#font{
  font-size: 30px;
}

.bold{
  font-size: 30px;
}
@media(max-width:800px){
  .fundo{
    flex-wrap: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .rodape{
    margin-left: 100px;
  }
}

@media(max-width:550px) {
  .fundo{
    display: flex;
    flex-direction: column;
  }

  .rodape{
    margin: 0 20px;
  }
}
