@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,400&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Mont Serrat", sans-serif;
}

a, ul, li{
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  color: black;
}

/* Header Section */
.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  align-items: center;
  font-size: 20px;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 999;
}

#ico{
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding-left: 25px;
}

#ico span {
  color: green;
}

.menu ul{
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline;
  position: relative;
  font-size: 0.9em;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  transition: background .3s;
}

.menu ul li a:hover{
  background-color: rgba(199, 199, 199, 0.3);
  color: #ccc;
}

/*menu down*/
.menu ul ul{
  display: none;
  position: absolute;
}

.menu ul li:hover ul{
  background-color: black;
  position: absolute;
  display: block;
  left:0;
}

.menu ul ul{
  width: 100px;
}

.menu ul ul li{
  display: inline;
}

.menu ul ul li a{
  display: block;
}
/*menu down*/

/*conteudo*/
.conteiner{
    width: 100%;
    margin-top: 120px;
    height: 40em;
}

.conteudo h1 {
    font-size: 50px;
    color: black;
    width: 60%;
    float: left;
    margin-left: 50px;
}

.conteudo p {
    font-size: 25px;
    color: black;
    width: 60%;
    float: left;
    margin-left: 50px;
}

.img-layout{
    width: 35%;
    float: right;
    text-align: center;
    padding: 35px 0;
}

/*Artistas*/
.artistas{
    width: 95%;
    height: 45em;
    background-color: rgba(0, 233, 0, 0.13);
    margin: 0 auto;
}

.artistas h2{
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}

.img-artistas{
    padding: 0 7em;
}
.img-artistas p {
    display: inline-block;
    padding: 30px;
    margin: 9px 4em;
    text-align: center;
}

/*Quem somos*/
.ajuste h1 {
    text-align: center;
    font-size: 50px;
}

.ajuste{
    height: 47em;
}

.right p{
    float: right;
}

.empresa{
    float: left;
    padding: 5em 0;
}

/*Juntar se a nos*/
.caixa{
    background-color: rgba(0, 233, 0, 0.13);
    width: 80%;
    height: 14em;
    margin: 0 auto;
    margin-bottom: 4em;
    position: relative;
}

.conteudo2 h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 0;
    padding-top: 20px;
}

.conteudo2 p{
    text-align: center;
    float: none;
}

.conteudo2 a{
    background-color: green;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: 11em;
    left: 29em;
}

/*Footer*/
.fundo{
  display: flex;
  flex-wrap: wrap;
  padding: 40px 50px;
  background-color: #ccc;
  justify-content: space-evenly;
}

.rodape ul li{
  padding: 5px;
}

.rodape ul li a:hover{
  color:green;
  border-bottom: 2px solid green;
}

.rodape a span{
  color: green;
}

#font{
  font-size: 30px;
}

.bold{
  font-size: 30px;
}
@media(max-width:700px){
  .fundo{
    flex-wrap: initial;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .rodape{
    margin-left: 100px;
  }
}

@media(max-width:550px) {
  .fundo{
    display: flex;
    flex-direction: column;
  }

  .rodape{
    margin: 0 20px;
  }
}
