html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mont Serrat", sans-serif;
}

/*Header section*/
.navbar {
    background-color: black;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em;
    z-index: 999;
}

.logo a {
    margin-left: 2em;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}
  
.logo a span {
    color: green;
}

.menu {
    width: 30%;
    float: right;
}

.menu ul li {
    display: inline-block;
    margin-left: 2em;
    font-size: 0.9em;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
}

.menu ul li a:hover {
    color: green;
    border-bottom: 3px solid green;
}

/*Login section*/
.centro{
    width: 230px;
    height: 400px;
    margin: 200px auto;
}

fieldset{
    background-color: #ccc;
    
}
